* {
    user-select: none;
    caret-color: transparent; 
}

body {
    margin: 0;
    padding-top: 52px;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    background-color: #262323;
    width: 0.7vh;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 5px;
}