@media screen and (max-width: 992px) {
    #imgCard {
        flex-direction: column;
    }

    .itemImgProminence {
        margin: 10px 60px;
    }
}

@media screen and (max-width: 792px) {
    .itemImgProminence {
        height: 240px;
        margin: 10px 60px;
    }
}

@media screen and (max-width: 692px) {
    .itemImgProminence {
        height: 160px;
        margin: 10px 60px;
    }

    #imgShopAll {
        display: none;
    }
}

@media screen and (max-width: 492px) {
    .itemImgProminence {
        height: 115px;
        margin: 10px 50px;
    }
}