#signUpComponent {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    caret-color: transparent;
    height: 100%;
}

#templateSignUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 460px;
    /* height: 318px; */
    padding: 24px;
    border: 1px #fff solid;
    border-radius: 12px;
}

#form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 12px;
    padding: 10px;
    width: 100%;
    margin-bottom: 24px;
}

#btnCreateAccount {
    margin-top: 30px;
}

.spinner-border {
    height: 60px;
    width: 60px;
    color: #fff;
}

#templateSuccess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 460px;
    height: 318px;
    border: 1px #22ff00 solid;
    background-color: #2bff0007;
    border-radius: 12px;
}

#svgSuccess {
    height: 100px;
    width: 100px;
    color: #22ff00;
}

#textSuccess {
    text-transform: uppercase;
    text-align: center;
    color: #22ff00;
    font-size: 16px;
    font-weight: 700;
}