#signInComponent {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    caret-color: transparent;
    height: 100%;
}

#formSignIn {
    margin-bottom: 35px;
    margin-top: 30px;
}

#templateSignIn {    
    width: 420px;
    padding: 20px;
    border: 1px #fff solid;
    border-radius: 12px;
    position: relative;
}

#signIn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.logoLoading {
    font-size: 32px !important;
    border-radius: 50%;
    user-select: none;
}

@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

.loader {
  position: relative;
  display: inline-block;
  user-select: none;
}
.loader::before {
  
  content: 'StreetSoul';
  color: #fff;
  font-family: 'Comforter', cursive;
  font-size: 48px;
  letter-spacing: 2px;
  display: inline-block;
  box-sizing: border-box;
  animation: floating 1s ease-out infinite alternate;
}
.loader::after {
  content: '';
  width: 100%;
  height: 10px;
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  left: 0;
  top: 100%;
  filter: blur(4px);
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 1s ease-out infinite alternate;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-25px);
  }
}

@keyframes animloader {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.2);
  }
}