#bodyAccount {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    caret-color: transparent;
    height: 100%;
}

.cardImgProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 180px;
}

#myAccount {
    width: 490px;
    padding: 16px;
    border: 1px #fff solid;
    border-radius: 12px;
}

#profileBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px #fff solid;
    border-radius: 12px;
    height: 250px;
    width: 100%;
    padding: 15px;
}

#myPhoto {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 80px;
    width: 80px;
    border: 1px #fff solid;
    border-radius: 50%;
}

.myProfilePic {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.myProfilePic:hover {
    opacity: 0.7;
}

#myNickname {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-top: 8px;
    font-size: 12px;
}

#dateCreate {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    font-size: 12px;
    color: #aba4a4;
}