#dataRegistrationScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.svgInfosProfile {
    height: 18px;
    width: 18px;
}

#formAddress {
    width: 100%;
    padding: 22px 12px 0px 6px;
}

#contentComponentsCEP {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#btnSearchCEP {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 24px;
    width: 35px;
    margin-left: 12px;
    border-radius: 6px;
    border: 1px #fff solid;
    background-color: transparent;
    color: #fff;
}

.inputsAddress {
    display: flex;
    width: 100%;
}

#btnSearchCEP:hover {
    background-color: #ffffff0d;
}

#svgSearchBtn {
    height: 16px;
    width: 16px;
}

.multipleInputRowForm {
    display: flex;
    flex-direction: row;
}

#streetComponent {
    width: 65%;
    margin-right: 5%;
}

#streetAddress {
    width: 100%;
}

#numberComponent {
    width: 30%;
}

#cityComponent {
    width: 65% ;
    margin-right: 5%;
}

#ufComponent {
    width: 30%;
}