#checkboxAlterAddressCard {
    display: flex;
    flex-direction: row;
    border: 1px #cfcbcb solid;
    border-radius: 4px;
    cursor: pointer;
}

.checkboxOn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    background-color: #ffffff0d;
    border-radius: 3px;
    color: #fff;
}

.checkboxOff {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
}