#formCard {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 22px 12px 0px 6px;
}

.multipleInputRowForm { width: 100%; }

#inputNumberCard { 
    display: flex;
    position: relative;
    width: 100%;
}

.listValidityCard {
    max-height: 110px;
    overflow-y: auto;
    background-color: #000;
    opacity: 0.9;
}

.listValidityCard::-webkit-scrollbar {
    background-color: #000;
    opacity: 0.7;
    width: 4px;
}
  
.listValidityCard::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 5px;
}

#monthValidityCard { width: 30%; margin-right: 5%; }

#monthValidityCard .dropdown-menu { min-width: 70px; }

#yearValidityCard { width: 40%; }

#yearValidityCard .dropdown-menu { min-width: 86px; }

#cvvElement { width: 30%; margin-left: 5%; }

#elementCpf { width: 47%; margin-right: 6%; }

#elementNick { width: 47%; }

.itemDropdown {
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    height: 26px;
    font-size: 14px;
}

.itemDropdown:hover { background-color: #e7e2e269; }

.textItemDropdown { 
    width: 100%; 
    color: #fff; 
}

#addCard { width: 100%; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flagCard {
    position: absolute;
    right: 6px;
    bottom: 14px;
    height: 17px;
    width: 30px;
}