#menuInfosAccount {
    display: flex;
    align-items: center;
    width: 80%;
    border-radius: 6px;
    border: 1px solid #fff;
}

.svgMenuProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    padding: 6px;
    transition: 0.5s;
}

.svgMenuProfile:hover {
    background-color: #ffffff1e;
}