#modalDialogForm {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1.5px);
}

#modalUploadPhoto {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  flex-direction: column;
  
  border: 1px #fff solid;
  padding: 20px;
  width: 300px;
  height: 200px;
}

.formContent {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#elementsFormImgProfile {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#upImgProfile {
    display: none;
}

#nameImgProfile {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

#fileSelectedName {
    text-transform: none;
    color: #ffffffac;
}

#labelUploadImgProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 30px;
  width: 150px;
  margin-bottom: 8px;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  border: 1px #fff solid;
  border-radius: 5px;
}

#labelUploadImgProfile:hover {
    background-color: #ffffff0d;
}

.buttonSubmitForm {
  position: absolute;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  border-top: 1px #fff solid;;
  width: 100%;
  height: 40px;
  border-radius: 0px 0px 8px 8px;
  bottom: 0;
  right: 0;
}

.buttonSubmitForm:hover {
    background-color: #ffffff0d;
}
